
<%- include("partials/header"); -%>
<div class="row">
  <div class="col-md-8">
    <img src="logo21.png" alt="logo21">
  </div>
<div class="col=md-4">  
  <p class="intro"> <%= startingContent %> </p>
  <button class="btn btn-info" onclick="contact">Learn More</button>
</div>
</div>
    




<%- include("partials/footer"); -%>
